# --- Secrets et Configs ---
.env
google-services.json
*.keystore
*.jks

# --- Dossiers générés (NE JAMAIS AJOUTER) ---
node_modules/
.expo/
dist/
web-build/
android/
ios/

# --- Fichiers de build & IDE ---
*.log
.vscode/
.idea/

# --- Typescript ---
expo-env.d.ts

# --- IMPORTANT : On autorise les fichiers source .json ---
# On ignore tout sauf les fichiers de config essentiels
!app.json
!package.json
!package-lock.json
!tsconfig.json
